[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pandas = "*"
pydantic = "*"
matplotlib = "*"
plotly = "*"
tabulate = "*"
pip = "*"
jupyter = "*"
seaborn = "*"
statsmodels = "*"
lifelines = "*"
trio = "*"
kaleido = "*"
pycomplexheatmap = "*"
ridgeplot = "*"
mpld3 = "*"
scikit-learn = "*"
requests = "*"
langchain = "*"
tiktoken = "*"
openai = "*"
chromadb = "*"
langchain-openai = "*"
langchain-anthropic = "*"
langchain-community = "*"
langchain-aws = "*"
python-dotenv = "*"
sympy = "*"
tenacity = "*"
langchain-core = "*"
langchain-experimental = "*"
numpy = "*"
ipython = "*"
tqdm = "*"
langgraph = "*"
pyppeteer = "*"
nest-asyncio = "*"
beautifulsoup4 = "*"
vertexai = "*"
openpyxl = "*"
pyarrow = "*"
rank-bm25 = "*"
reportlab = "*"
networkx = "*"

[requires]
python_version = "3.12"